extends layout

block content 
    h2 #{country.name}
    p #{country.country.code}, #{country.capital.region}
    form(action=`/countries/${city.id}`, method="POST")
        input(type="text", name="name", placeholder=country.name)
        input(type="submit")