extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h3 Countries
  table
    thead
      th Code
      th.text-center Country Name
      th Continent
      th Region
      th Population
      th Capital
    tbody
      each row in rows
        tr
          td.fit
            a(href=`/countries/${row.Code}`) #{row.Code}
          td.fit #{row.Name}
          td #{row.Continent}
          td #{row.Region}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}
          td #{row.Capital}
