extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h3 Countries
  table
    thead
      th Code
      th.text-center Country Name
      th Continent
      th Region
      th Population
      th Capital
    tbody
      each row, i in rows
        tr
          td.fit
            a(href=`/cities/${i + 1}`) #{i + 1}
          td.fit #{row.CountryCode}
          td #{row.Name}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}